<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.CSS"/>

<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />

<style>
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  /*z-index: 900*/z-index: 90;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 5px;
  line-height: 7.5em;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  width: 200px;
  background: #333333;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
/*  font-size: 12px*/font-size: 10px;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#cssmenu > ul {
 width: 200px;
}
#cssmenu ul ul {
width: 200px;
}
#cssmenu > ul > li > a {
  border-right: 4px solid #1b9bff;
  color: #ffffff;
}
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.active a {
  background: #1b9bff;
}
#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a {
  background: #1b9bff;
}
#cssmenu li {
  position: relative;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  /*top: 50%*/top: 5%;
  right: 5px;
  margin-top: -6px;
}
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu ul ul {
  border: 1px solid #0082e7;
}
#cssmenu ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
.well-lg{
	margin-top: 5px;
	background-color: #99ff33;

}  
body {
    
    margin-top: 10px;
}

</style>






   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>ITEMISED-BILL</title>
</head>
<body>

<div id='cssmenu'>
<ul>
   <!-- <li><a href='/'><span>ITEMISED BILL</span></a></li> -->
    <li><a href='#'><span>About</span></a></li>
    <li><a href='/listOfPhoneBills'><span>Itemised cell phone bills</span></a></li>
   <li class='active has-sub'><a href='/'><span>Providers </span></a>
      <ul>
         <li class='has-sub'><a href='/Vodacom'>Vodacom</a></li>
         <li class='has-sub'><a href="/MTN">MTN</a></li>
         <li class='has-sub'><a href="/CellC">CellC/a></li>
            
         
      </ul>
   </li>
   <li class='active has-sub'><a href='/'><span>Duration</span></a>
      <ul>
         <li class><a href='/'>duration in seconds</a></li>
          <li class='has-sub'><a href='/'>ascending duration</a>
           
         </li>
          <li class='has-sub'><a href='/totalDurationOfProvider'>sub-totals</a>
            
         </li>
         
      </ul>
   </li>
   
   <li><a href='/'><span> Itemized bill with totals </span></a></li>
   
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>
<div class ="move">{{{body}}}</div>




<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<!-- <div class ="well">
  <a href="/" class ="btn btn-primary"><span class="glyphicon glyphicon-home"></span>Back to home</a>
</div> -->

</body>
</html> 
