<h1>Calls in Ascending Duration </h1>
   <table class>
      <thead>   
         <th> Provider</th>
         
          <th>Durations(seconds)</th>
        
        </thead>
  {{#each list}}
    <tr>
   <td width="60%"><h3>{{provider}} </td width="40%" > 
      <td> {{durationInSeconds}}</h3> </td>
    

    </tr>


  {{/each}}
</table>
<div class ="well">
  
    <a href="/" class ="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Back to home</a>

</div> 