<h1>MTN </h1>
   <table class>
      <thead>   
         <th> Provider</th>
          <th>Number</th>
          <th>Durations</th>
          <th>Date </th>
        </thead>
	{{#each list}}
		<tr>
    <td>{{provider}}</td>
    <td>{{ number}}</td>
    <td>{{ duration}}</td>
    <td>{{ date}} </td>

		</tr>


	{{/each}}
</table>
<div class ="well">
  
    <a href="/" class ="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Back to home</a>

</div> 