<h1>duration sub-total</h1>
   <table class>
      <thead>   
         <th> Provider</th>
          <th>Sub-Totals </th>
        </thead>
	{{#each list}}
		<tr>
			<td width="75%"><h3>{{}} </td width="30%" > 
      <td> {{}}</h3> </td>
		</tr>
	{{/list}}
</table>
<div class ="well">
  
    <a href="/home" class ="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Back to home</a>

</div> 
